<% if @cook.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @cook.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>