<!DOCTYPE html>
<html>
  <html lang="ja">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>今週の状況</h3>
    <hr>
    <p>メールは週に1回自動送信されます。</p>
    <p>◆詳細は下記よりログインして確認ください。</p>
    <br>
    <p>※このメールは送信専用です。</p>
    <hr>
    <h3>引き続きCamFooをお楽しみください</h3>
    <hr>
  </body>
</html>
