<!DOCTYPE html>
<html>
  <html lang="ja">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>先週の投稿数のお知らせです！</h3>
    <hr>
    <p>メールは週に1回自動送信されます。</p>
    <p>先週投稿された料理は<%= @cooks %>件です。<br>
    今すぐあなたの「キャンプめしを」共有しよう！</p>
    <p>
      ◆ログインはこちら<br>
      http://camfoo-portfolio.work/users/sign_in
    </p>
    <br>
    <p>※このメールは送信専用です。</p>
    <hr>
    <h3>引き続きCamFooをお楽しみください</h3>
    <hr>
  </body>
</html>
