<% content_for(:title, 'お気に入り | CamFoo') %>
<div class="bookmark-image">
  <div class="bg-rgba">
    <h2>Bookmark</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
    <table class="table table-striped text-white">
      <thead>
        <tr>
          <th></th>
          <th>投稿者</th>
          <th>料理名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bookmarks.each do |cook| %>
        <tr>
          <td>
            <%= attachment_image_tag cook.user, :account_image, :fill, 60, 60, fallback: "no_image.jpg", class: "mt-0 no-image"; %>
          </td>
          <td class="pt-4">
            <%= cook.user.account %>
          </td>
          <td class="pt-4">
            <%= cook.name %>
          </td>
          <td class="pt-4">
            <%= link_to "詳細", cook_path(cook), class: "btn btn-success" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>