<% content_for(:title, 'ダッチオーブン料理 | CamFoo') %>
<div class="container mt-5">
<div class="dutch-image">
  <div class="bg-rgba">
    <h2>DutchOven cooks</h2>
  </div>
</div>
<%= render "index_form", cooks: @cooks_dutch_oven %>
