<% content_for(:title, '投稿編集 | CanFoo') %>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>投稿編集</h2>
    </div>
  </div>
</div>
<%= render "cook_form", cook: @cook %>
