<% content_for(:title, '網料理 | CamFoo') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>網料理一覧</h2>
    </div>
  </div>
</div>
<%= render "index_form", cooks: @cooks_net %>

