<% content_for(:title, '総合ランキング | CamFoo') %>
<div class="rank-image">
  <div class="bg-rgba">
    <h2>総合ランキング</h2>
  </div>
</div>
<div class="ranking-change pr-5"><%= link_to "週間ランキングはこちら", weekly_rank_cooks_path %></div>
<%= render "cooks/shared/rank" %>