<% content_for(:title, '週間いいねランキング | CamFoo') %>
<div class="rank-image">
  <div class="bg-rgba">
    <h2>週間いいねランキング</h2>
  </div>
</div>
<div class="text-right pr-5 ranking-period">※期間: <%= 0.days.ago.prev_week.to_s(:datetime_jp) %>〜<%= 0.days.ago.prev_week(:sunday).to_s(:datetime_jp) %></div>
<div class="ranking-change pr-5"><%= link_to "総合ランキングに戻る", rank_cooks_path %></div>
<% if @ranks.present? %>
<%= render "cooks/shared/rank" %>
<% end %>