<% @articles.each do |article| %>
<div class="article-container">
  <div class="mb-3">
  <%= link_to article_path(article) do %>
    <%= image_tag article.article_image.url, size: "300x180" %>
  <% end %>
  </div>
  <div class="article-title">
    <%= article.title %><br><%= article.topic_i18n %>
  </div>
</div>
<% end %>