- content_for(:title, 'ユーザー編集 | CamFoo')
div.edit-user-image
  div.bg-rgba
    h2 アカウント

div.container
  div.row
    div.col-10.offset-1
      div.w-75.mx-auto
        = form_with model:@user, local:true do |f|
          div
            span.bg-warning.rounded.p-1.px-2 現在のアカウント名
            <br>
            = f.text_field :account, autofocus: true, placeholder:"アカウント名", class: "w-100 my-3"
            <br>
          div
            span.bg-warning.rounded.p-1.px-2 現在のアカウント画像
            <br>
            = attachment_image_tag @user, :account_image, :fill, 100, 100, fallback: "no_image.jpg", class: "my-3"
            <br>
          div
            span.bg-warning.rounded.p-1.px-2 新しいアカウント画像を選択
            <br>
            = f.attachment_field :account_image, placeholder: "アカウント画像", class: "w-100 my-3"
            <br>
            = f.submit "変更する", class: "w-100"
