// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: solid 1px #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}

.article-container div {
  width: 100%;
  align-self: center;
}

.article-container:last-child {
  border-bottom: none;
}

.topic-cook {
  background-color: #EC4F01;
  font-size: 12px;
  padding: 5px;
  margin-top: 30px;
  font-weight: 700;
}

.topic-goods {
  background-color: #D74C8A;
  font-size: 12px;
  padding: 5px;
  margin-top: 30px;
  font-weight: 700;
}

.topic-beginner {
  background-color: #01776F;
  font-size: 12px;
  padding: 5px;
  margin-top: 30px;
  font-weight: 700;
}

.article-title {
  line-height: 2em;
}

.article-title > a {
  color: #fff;
}

.article-title >a:hover {
  color: #cbced1;
  text-decoration: none;
}

.article-title-show {
  background-color: #6FAF76;
  font-family: "ヒラギノ角ゴ Pro";
  font-weight: 700;
  padding: 5px 0 5px 5px;
}

.article-title-show + img {
  height: 500px;
}

.article-body {
  background-color: #fff;
  color: black;
  margin-top: 10px;
  padding: 5px 0 5px 5px;
}

@media (max-width: 1000px){
  .article-container {
    display: block;
    z-index: 60;
  }

  .article-container .article-title {
    margin-bottom: 10px;
  }

  .article-title-show {
    font-size: 16px;
  }

  .article-title-show + img {
    height: auto;
  }

  .article-image-index > a > img {
    width: 100%;
    height: auto;
  }

}