// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-image {
  background-image: image-url("book.jpg");
  background-size: cover;
  background-position: top;
  height: 200px;
}