// Place all the styles related to the cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-image {
  width: 50px;
  margin-top: 10px;
}

// アカウント画像サイズ
.account {
  font-size: 10px;
}

.card {
  color: black;
}

.card-title {
  font-size: 18px;
}

// エラーメッセージ
.alert {
  margin: 10px auto;
}

h2 {
  text-align: center;
}

.index-image {
  background-image: image-url("sky.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.net-image {
  background-image: image-url("net.jpg");
  background-size: cover;
  background-position: top 30% left 0;
  height: 200px;
}

.pan-image {
  background-image: image-url("pan.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.pot-image {
  background-image: image-url("pot.jpg");
  background-size: cover;
  background-position: top 30% left 0;
  height: 200px;
}

.dutch-image {
  background-image: image-url("dutch.jpg");
  background-size: cover;
  background-position: bottom 10% left 0;
  height: 200px;
}

.other-image {
  background-image: image-url("beer.jpg");
  background-size: cover;
  background-position: bottom 35% left 0;
  height: 200px;
}

.show-image {
  background-image: image-url("grocery.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.edit-image {
  background-image: image-url("spice.jpg");
  background-size: cover;
  background-position: top 50% left 0;
  height: 200px;
}

.new-image {
  background-image: image-url("oven.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.rank-image {
  background-image: image-url("fire.jpg");
  background-size: cover;
  background-position: bottom 40% left 0;
  height: 200px;
}

.material-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.material-box input {
  width: 100%;
}

.qty-box input {
  width: 100%;
}

@media (max-width: 1000px) {
  .material-container {
    display: block;
  }
}