// Place all the styles related to the cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-image {
  width: 50px;
  margin-top: 10px;
}

// アカウント画像サイズ
.account {
  font-size: 10px;
}

.card {
  color: black;
}

.card-title {
  font-size: 18px;
}

// エラーメッセージ
.alert {
  margin: 10px auto;
}

h2 {
  text-align: center;
}

.index-image {
  background-image: image-url("wood.jpg");
  background-size: cover;
  height: 200px;
}

.show-image {
  background-image: image-url("grocery.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.edit-image {
  background-image: image-url("spice.jpg");
  background-size: cover;
  background-position: top 50% left 0;
  height: 200px;
}

.new-image {
  background-image: image-url("oven.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.rank-image {
  background-image: image-url("fire.jpg");
  background-size: cover;
  background-position: bottom 40% left 0;
  height: 200px;
}

@media (max-width: 1000px) {
  .d-flex {
    display: block;
  }
}