// Place all the styles related to the cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-image {
  width: 50px;
  margin-top: 10px;
}

// アカウント画像サイズ
.account {
  font-size: 10px;
}

.card {
  color: black;
}

.card-title {
  font-size: 18px;
}

// エラーメッセージ
.alert {
  margin: 10px auto;
}

h2 {
  text-align: center;
}

.index-image {
  background-image: image-url("sky.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.net-image {
  background-image: image-url("net.jpg");
  background-size: cover;
  background-position: top 30% left 0;
  height: 200px;
}

.pan-image {
  background-image: image-url("pan.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.plate-image {
  background-image: image-url("plate.jpg");
  background-size: cover;
  background-position: bottom 15% left 0;
  height: 200px;
}

.pot-image {
  background-image: image-url("pot.jpg");
  background-size: cover;
  background-position: top 30% left 0;
  height: 200px;
}

.dutch-image {
  background-image: image-url("dutch.jpg");
  background-size: cover;
  background-position: bottom 10% left 0;
  height: 200px;
}

.other-image {
  background-image: image-url("beer.jpg");
  background-size: cover;
  background-position: bottom 35% left 0;
  height: 200px;
}

.show-image {
  background-image: image-url("grocery.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.edit-image {
  background-image: image-url("spice.jpg");
  background-size: cover;
  background-position: top 50% left 0;
  height: 200px;
}

.new-image {
  background-image: image-url("oven.jpg");
  background-size: cover;
  background-position: top 45% left 0;
  height: 200px;
}

.rank-image {
  background-image: image-url("fire.jpg");
  background-size: cover;
  background-position: bottom 40% left 0;
  height: 200px;
}

// 一覧画面関連
.index-container {
  display: flex;
  justify-content: space-around;
}

.index-box {
  width: 250px;
}

.index-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

//

// 投稿画面
.cook-post-container {
  background-color: rgb(229, 226, 226);
  color: black;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.material-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.material-box input {
  width: 100%;
}

.qty-box input {
  width: 100%;
}
//

// 詳細画面
.btn-show {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.btn-show > div {
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 10px;
}

.recipe-title {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(252, 248, 240);
  color: rgb(56, 56, 56);
  padding: 15px 15px 0 15px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(252, 248, 240);
  color: black;
  padding: 15px 15px 15px 15px;
  border-radius: 0 0 3px 3px;
}

.material-box-show {
  width: 400px;
}

.material-box-show .material-tag {
  background-color: rgb(160, 109, 0);
  color: #fff;
  padding: 5px;
}

.cooking-method-box {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: rgb(252, 248, 240);
  color: black;
  padding: 15px 15px 15px 15px;
  border-radius: 3px;
}

.cooking-method-box > h4 {
  border-bottom: solid 1px black;
}
//

// いいねランキング
.rank-container {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}

.rank-box {
  width: 250px;
}

.paginate > nav {
  width: 86%;
  margin-left: auto;
  padding-top: 0;
  margin-bottom: 60px;
}

li.page-item {
  padding: 0;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #bb3f3f!important;
  border-color: #bb3f3f!important;
}

@media (max-width: 1000px) {
  .material-container {
    display: block;
  }

  .recipe-container {
    display: block;
  }

  .material-box-show {
    width: 100%;
  }

  .title-box-show {
    width: 100%;
  }

  .title-box-show > img {
    width: 100%;
  }

  .index-container {
    display: block;
  }

  .index-box {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .rank-container {
    display: block;
  }

  .rank-box {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .paginate > nav {
    margin:0 auto;
    margin-bottom: 60px;
  }
}
