// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
  background-image: image-url("tent.jpg");
  background-size: cover;
  background-position: 20% 80%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-btn {
  margin-right: 100px;
}