// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-image {
  color: #ffffff;
  background-image: image-url("people.jpg");
  background-size: cover;
  background-position: top 60% left 0;
  height: 200px;
  opacity: 0.8;
  // line-height: 200px;
}

.login-image {
  color: #ffffff;
  background-image: image-url("nature.jpg");
  background-size: cover;
  background-position: top 60% left 0;
  height: 200px;
}

.registration-image {
  color: #ffffff;
  background-image: image-url("lake.jpg");
  background-size: cover;
  background-position: bottom 10% left 0;
  height: 200px;
}


.form-group input {
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.form-group input:focus {
 background-color: rgb(252, 210, 132);
}