// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-image {
  color: #ffffff;
  background-image: image-url("people.jpg");
  background-size: cover;
  background-position: top 60% left 0;
  height: 200px;
}

.login-image {
  color: #ffffff;
  background-image: image-url("nature.jpg");
  background-size: cover;
  background-position: top 60% left 0;
  height: 200px;
}

.registration-image {
  color: #ffffff;
  background-image: image-url("lake.jpg");
  background-size: cover;
  background-position: bottom 10% left 0;
  height: 200px;
}

.pass-image {
  color: #ffffff;
  background-image: image-url("password.jpg");
  background-size: cover;
  background-position: bottom 55% left 0;
  height: 200px;
}

.user-info {
  margin-left: 3em;
}

.user-info > img {
  border: solid 3px #fff;
}

.form-group input:focus {
 background-color: rgb(252, 210, 132);
}

div .modal-header,.modal-body {
  color: black;
}

.edit-user-image {
  color: #ffffff;
  background-image: image-url("tent2.jpg");
  background-size: cover;
  background-position: top 60% left 0;
  height: 200px;
}

.login-mobile {
  width: 65%;
}

.account-edit,.account-quit {
  color: #fff;
}

.account-edit:hover,.account-quit:hover {
  color: #cbced1;
}

@media(max-width: 1000px){
  .login-mobile {
    width: 100%;
  }

  .login-mobile::placeholder {
    font-size: 14px;
  }
}