<div class="search-box-mobile">
  <%= search_form_for @q, url: search_index_cooks_path do |f| %>
  <div class="input-group">
    <%= f.text_field :name_or_comment_or_cooking_method_cont_any, placeholder: "料理名等で検索", class: "search-field mt-0 py-0 h-75" %>
    <span class="input-group-btn">
    <%= button_tag type: 'submit', class: "btn btn-field" do %>
    <i class="fas fa-search"></i>
    </span>
    <% end %>
  </div>
  <% end %>
</div>